body{
    background-color: #3D2C8D;
}

input{
    /*Propiedad que sirve para que no se muestre una linea de borde del input*/
    outline: none;
}
textarea{
        /*Propiedad que sirve para que no se muestre una linea de borde del textarea*/
    outline:none;
    resize: none;
}
/*Propiedad para que los inputs de tipo numero no muestren las flechas de arriba y abajo*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*Propiedad para modificar la scroll bar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: #3D2C8D;
}

::-webkit-scrollbar
{
	width: 12px;
    background-color: #3D2C8D;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1C0C5B;
}

a{
    /*eliminar la linea debajo de los links*/
    text-decoration: none;
}
/*Quitar los estilos de los elementos de lista*/
li
{
    list-style: none;
}

/*inicio del menu*/
.menu{
    height: 20%;
    width: 99%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1C0C5B;
    margin-left: auto;
    margin-right: auto;
}

.letrasMenu{
    color: white;
    margin-left: 1rem;
    float: right;
}
.letrasMenu:hover{
    color: #eeeeee;
}
.finalMenu{
    margin-right: 1rem;
}


.luis{
    margin-left: 5rem;
    color: white;
}

.divs{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.margin-auto_content{
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 90px;
}

.div1{
    float: left; 
    height: 310px;
    width: 25%;
    display: flex;
    background-color: #1C0C5B;
}

.div2{
    float: left; 
    height: 310px;
    width: 25%;
    display: flex;
    background-color: #EEEEEE;

}

.EEEEEE{
    color: #EEEEEE;
}

.made{
    text-align: center;
}
.pie{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1C0C5B;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    bottom: 0;
}

.abajo{
    position: absolute;
}

.center{
    text-align: center;
}
.titulo{
   text-align: center;
}

/*Fin del menu*/

/*Calculadora v1.0*/

/*Fin de calculadora v1.0*/

/*Inicio del UI*/
.UI{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C0C5B;
    font-size: large;
}

.hone{
    text-align: center;
    color: white;
}
.h{
    text-align: center;
    color: white;
}

.p{
    margin-left: 100px;
    width: 810px;
    font-size: 17px;
    font-family: 'verdana';
    color: white;
}
.uiImg{
    display:block;
    margin:auto;
    width: 600px;
    height: 300px;

}
/*Fin del UI*/

/*Inicio de formulario*/
.formularioo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #1C0C5B;
}
  
.formularioo input {
    width: 50%;
    height: 30px;
    margin: 0.5rem;
    outline: none;
}
  
.formularioo button {
    padding: 0.5em 1em;
    border: none;
    background: #EEEEEE;
    cursor: pointer;
}
.formularioo label{
    font-size: 20px;
    color: white;

}
.formularioo h1{
    color: white;
}

/*Fin del formulario*/

/*A partir de aqui, es codigo de la calculadora v2*/

.labels{
    display: inline-block;
    width: 150px;
    font-family:verdana;
    font-size: larger;
    color: white;
}
.configInputs{
    height: 20px;
    border: none;
    outline: none;
}
.configInputs:focus{
    background: white;
    color: #141E61;
    border: none;
    border-color: none;
    border-radius: none;
}

.boton{
    padding: 15px;
    background-color: #eeeeee;
    border: none;

}
.boton:hover{
    background-color: #787A91;
}
.botonMargin{
    margin-left: 160px;
}
.calcu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #1C0C5B;
}

.echo{
    font-family: verdana;
}



/* Estas clases permite darle estilo a un aviso que se le da al ususario cuando su registro o inicio de sesion sean validos o erroneos*/
p.correcto,
p.error {
    color: black;
    font-family: 'verdana';
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}

p.error {
    background: orangered;
}
/*Fin*/


/*Estas clases son para darle estilo a la carpeta posteo*/
 
.formulario {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #1C0C5B;
}

.formulario input {
    width: 50%;
    height: 30px;
    margin: 0.5rem;
}
  
.formulario button {
    padding: 0.5em 1em;
    border: none;
    background: #EEEEEE;
    cursor: pointer;
}
.formulario label{
    font-size: 20px;
    color: white;
}
.formulario h1{
    color: white;
}
.formulario button{
    background-color: #eeeeee;
}

.blanco{
    color: white;
}
.verdana{
    font-family: verdana;
}
.registrar{
    background-color: #1C0C5B;
    padding: 2%;
    width: 7%;
    margin-left: 0.5%;

}
.margin{
    margin-left: 20px;
}

.mostrar{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C0C5B;
    font-size: large;
}

.plista {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #1C0C5B;
}

.recortarTexto{
    width: 450px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.formularioRegisPost {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 1000px;
    background-color: #1C0C5B;
}

.formularioRegisPost input {
    width: 50%;
    height: 30px;
    margin: 0.5rem;
}
  
.formularioRegisPost button {
    padding: 0.5em 1em;
    border: none;
    background: #EEEEEE;
    cursor: pointer;
}
.formularioRegisPost label{
    font-size: 20px;
    color: white;
}
.formularioRegisPost h1{
    color: white;
}
.formularioRegisPost button{
    background-color: #eeeeee;
}

/*Fin de posteo*/

/* Blog */

/* Titulo del blog */
.tituloBlog {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    background-color: #1C0C5B;
    color: white;
    margin: auto;
  }
  
  /* columna Izquierda */
  .columnaIzquierda {
    float: left;
    width: 70%;
  }
  
  /* columna Derecha */
  .columnaDerecha {
    float: right;
    width: 25%;
    padding-left: 20px;
  }
  
  /* imagen */
  .img {
    background-color: white;
    width: 90%;
    padding: 20px;
    color: black;
  }
  
  /* Efectos de tarjetas para los articulos */
  .tarjeta {
    background-color: #1C0C5B;
    padding: 20px;
    margin-top: 20px;
    color: white;
    display: block;
  }
  /* Elimina los espacios flotantes despues de las columnas */
.row::after {
    display:block;
    content:"";
    clear: both;
}


    

/* FinBlog */

/*Ocultar form*/

.nover{
    display: none;
}



/* boton como un link link*/

.link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: verdana;
    /*input has OS specific font-family*/
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
}

/* Pre */

pre{
    white-space:pre-wrap;
}

/*curriculum*/

.curriculu{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C0C5B;
    font-size: large;

}



.izq{
    width: 25%; 
    float:left;
    padding: 10px;
    background-color: #24116e;
}
.der{
    width: 65%; 
    float:right;
    padding: 10px;
    
}

.curriculu::after {
    display:block;
    content:"";
    clear: both;
}
/*Fin de curriculum*/