<template>
    <p class="pie blanco made abajo">Luis Molina Portafolio 2021</p>
</template>

<script>
    export default {

        mounted() {
            console.log("Funciona");
        }
    }
</script>